In [1]:
fruit = 'banana'
letter = fruit[1]

In [2]:
letter

'a'

In [3]:
letter = fruit[1.5]

TypeError: string indices must be integers

In [4]:
letter = fruit[5]

In [5]:
letter

'a'

In [6]:
i = 2
letter = fruit[i]

In [8]:
letter

'n'

In [9]:
str = 'hello world'
character = str[4]

In [10]:
character

'o'

In [11]:
character = str[5]

In [12]:
character

' '

In [13]:
length = len(fruit)

In [14]:
length

6

In [15]:
last = fruit[length]

IndexError: string index out of range

In [16]:
last = fruit[length -1]
last

'a'

In [19]:
firstlast = fruit[0] + fruit[length - 1]
firstlast

'ba'

In [20]:
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

b
a
n
a
n
a

In [23]:
index = len(fruit) - 1
while index >= 0:
    letter = fruit[index]
    print(letter)
    index = index - 1

a
n
a
n
a
b

In [24]:
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [28]:
for character in str:
    print(character, end = " ")

h e l l o   w o r l d

In [30]:
for character in str:
    print(character, end = "*")

h*e*l*l*o* *w*o*r*l*d*

In [31]:
prefix = 'JKLMNOPQ'
suffix = 'ack'

for letter in prefix:
    print(letter + suffix)

Jack
Kack
Lack
Mack
Nack
Oack
Pack
Qack

In [32]:
prefix = 'JKLMNOPQ'
suffix = 'ack'

for letter in prefix:
    print(letter + suffix, end = " ")

Jack Kack Lack Mack Nack Oack Pack Qack

In [33]:
s = 'Monty Python'
s[0:5]

'Monty'

In [34]:
s[6:12]

'Python'

In [36]:
str[1:4]

'ell'

In [37]:
str[5:9]

' wor'

In [38]:
str[:3]

'hel'

In [39]:
str[:6]

'hello '

In [40]:
fruit[:4]

'bana'

In [41]:
fruit[3:]

'ana'

In [42]:
fruit = 'banana'

In [43]:
fruit[3:3]

''

In [44]:
greeting = 'Hello world'
greeting[0] = 'j'

TypeError: 'str' object does not support item assignment

In [45]:
new_greeting = 'j' + greeting[1:]

In [46]:
new_greeting

'jello world'

In [47]:
new_greeting = 'j' + greeting

In [48]:
new_greeting

'jHello world'

In [49]:
new_greeting = greeting[3:5] + greeting[1:3]

In [50]:
new_greeting

'loel'

In [4]:
def find(word, letter):
    index = 0
    while index < len(word):
        if word[index] == letter:
            return index
        index = index + 1
    return -1

In [5]:
result = find('rohan', 'a')

In [3]:
result

3

In [7]:
find('banana', 'c')

-1

In [8]:
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

3

In [13]:
fruit = "Banana"

In [11]:
fruit.upper()

'BANANA'

In [14]:
fruit.lower()

'banana'

In [15]:
str = "hello world!"
str.upper()

'HELLO WORLD!'

In [16]:
index = str.find('o')

In [17]:
str.find('or')

7

In [18]:
str.find('b', 1 , 2)

-1

In [19]:
name = 'bob'
name.find('b', 1)

2

In [20]:
'a' in 'banana'

True

In [21]:
'seed' in 'banana'

False

In [22]:
'and' in 'hello and world'

True

In [25]:
def in_both(word1, word2):
    for letter in word1:
        if letter in word2:
            print(letter, end = " ")

In [26]:
in_both('hello', 'hello world')

h e l l o

In [27]:
in_both('apple', 'oranges')

a e

In [28]:
#string comparision
if  word == 'banana':
    print('All right, bananas')

All right, bananas

In [29]:
if 'ten' == 'ten':
    print('yes ten')

yes ten

In [30]:
if word < 'banana':
    print('Your word, ' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word, ' + word + ', comes after banana.')
else:
    print('All right, bananas.')

All right, bananas.

In [31]:
word = 'hello world'

In [32]:
if word < 'banana':
    print('Your word, ' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word, ' + word + ', comes after banana.')
else:
    print('All right, bananas.')

Your word, hello world, comes after banana.

In [48]:
def is_reverse(word1, word2):

    if len(word1) != len(word2):
        return False
    
    i = 0
    j = len(word2) - 1
    while j > 0:
        if word1[i] != word2[j]:
            return False
        i = i + 1
        j = j - 1
    return True

In [43]:
is_reverse(fruit, 'banana')

False

In [44]:
fruit

'Banana'

In [47]:
is_reverse(fruit.lower(), 'banana')

banana
banana

False

In [49]:
is_reverse('pip', 'pip')

True

SyntaxError: 'return' outside function (<ipython-input-52-afeda15c740e>, line 4)

In [64]:
fin = open('myfile.txt')

In [65]:
line = fin.readline()

In [66]:
word = line.strip()

In [69]:
line

'Big data is a term used to refer to data sets that are too large or complex for traditional data-processing application software to adequately deal with. Data with many cases (rows) offer greater statistical power, while data with higher complexity (more attributes or columns) may lead to a higher false discovery rate.'

In [73]:
fn = open('myfile.txt')
for line in fin:
    word = line.strip()
    print(word)

In [74]:
def has_no_e(word):
    for letter in word:
        if letter == 'e':            
            return False
    return True

In [75]:
has_no_e('hello')

False

In [76]:
def has_e(word):
    for letter in word:
        if letter == 'e':
            return True
    return False

In [77]:
has_e('hello')

True

In [78]:
def avoids(word, forbidden):
    for letter in word:
        if letter in forbidden:
            return False
    return True

In [79]:
avoids('hello', 'e')

False

In [80]:
avoids('hello', 'p')

True

In [82]:
def uses_only(word, available):
    for letter in word:
        if letter not in available:
            return False
    return True

In [87]:
uses_only('mind', 'mindstar')

True

In [89]:
uses_only('mindstar', 'mind')

False

In [90]:
def uses_all(word, required):
    for letter in required:
        if letter not in word:
            return False
    return True

In [95]:
uses_all('master', 'master')

True

In [1]:
def is_abecedarian(word):
    previous = word[0]
    for c in word:
        if c < previous:
            return False
        previous = c
    return True

In [3]:
is_abecedarian("hello")

False

In [10]:
is_abecedarian("hh")

True

In [11]:
def is_abecedarian(word):
    if len(word) <= 1:
        return True
    if word[0] > word[1]:
        return False
    return is_abecedarian(word[1:])

In [12]:
is_abecedarian("abc")

True

In [13]:
def is_abecedarian(word):
    i = 0
    while i < len(word)-1:
        if word[i+1] < word[i]:
            return False
        i = i+1
    return True

In [15]:
is_abecedarian("abcdefgh")

True

In [16]:
def is_palindrome(word):
    i = 0
    j = len(word)-1
    while i<j:
        if word[i] != word[j]:
            return False
        i = i+1
        j = j-1
    return True

In [17]:
is_palindrome("heh")

True

In [18]:
is_palindrome("abcdef")

False

In [19]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [20]:
cheeses

['Cheddar', 'Edam', 'Gouda']

In [21]:
numbers = [42, 123]

In [22]:
numbers

[42, 123]

In [23]:
empty = []

In [24]:
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] []

In [25]:
cheeses[0]

'Cheddar'

In [26]:
list = [2, 5.6, 'hello', 'world']

In [27]:
list[3]

'world'

In [28]:
list[1:]

[5.6, 'hello', 'world']

In [29]:
list[:3]

[2, 5.6, 'hello']

In [31]:
numbers[1] = 5

In [32]:
numbers

[42, 5]

In [33]:
'world' in list

True

In [34]:
'Edam' in cheeses

True

In [35]:
1 in list

False

In [36]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [37]:
for values in list:
    print(values, end = " ")

2 5.6 hello world

In [38]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2

In [39]:
numbers

[84, 10]

In [40]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] // 2

In [41]:
numbers

[42, 5]

In [42]:
for x in []:
    print('This never happens.')

In [43]:
for x in empty:
    print('This will not execute')

In [44]:
a = [1, 2, 3]
b = [4, 5, 6]

In [45]:
c = a + b

In [46]:
c

[1, 2, 3, 4, 5, 6]

In [47]:
numbers + list

[42, 5, 2, 5.6, 'hello', 'world']

In [48]:
[0] * 4

[0, 0, 0, 0]

In [49]:
[1, 2, 3, 4] * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [50]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [51]:
t[3:]

['d', 'e', 'f']

In [52]:
t[1:3]

['b', 'c']

In [53]:
t[:3]

['a', 'b', 'c']

In [56]:
t[1:2]

['b']

In [57]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [58]:
t[1:3] = ['x,', 'y']

In [59]:
t

['a', 'x,', 'y', 'd', 'e', 'f']

In [60]:
t[1:5] = [1, 2, 3]

In [61]:
t

['a', 1, 2, 3, 'f']

In [62]:
t.append('d')

In [63]:
t

['a', 1, 2, 3, 'f', 'd']

In [66]:
list.append(numbers)

In [67]:
list

[2, 5.6, 'hello', 'world', 1, [42, 5]]

In [68]:
list.append(list)

In [69]:
list

[2, 5.6, 'hello', 'world', 1, [42, 5], [...]]

In [70]:
numbers

[42, 5]

In [71]:
numbers.sort()

In [72]:
t

['a', 1, 2, 3, 'f', 'd']

In [73]:
t.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [74]:
def add_all(t):
    total = 0
    for x in t:
        total += x
    return total

In [75]:
add_all(numbers)

47

In [76]:
a+= b

In [77]:
a

[1, 2, 3, 4, 5, 6]

In [78]:
sum(numbers)

47

In [80]:
num = 0
num += sum(a)

In [81]:
num

21

In [82]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

In [84]:
names = ['john', 'mark', 'kent', 'lift']

In [85]:
capitalize_all(names)

['John', 'Mark', 'Kent', 'Lift']

In [86]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

In [87]:
only_upper(names)

[]

In [88]:
names[0] = 'JOHN'

In [89]:
only_upper(names)

['JOHN']

In [90]:
x = t.pop(1)

In [91]:
t

['a', 2, 3, 'f', 'd']

In [92]:
x

1

In [93]:
del t[2]

In [94]:
t

['a', 2, 'f', 'd']

In [96]:
t.remove('f')

In [97]:
t

['a', 2, 'd']

In [98]:
del t[1:2]

In [99]:
t

['a', 'd']

In [101]:
s = 'spam'

In [102]:
t = list(s)

TypeError: 'list' object is not callable

In [103]:
s = 'pining for the fjords'

In [104]:
t = s.split()

In [105]:
t

['pining', 'for', 'the', 'fjords']

In [106]:
s = 'spam-spam-spam'

In [107]:
t = s.split('-')

In [108]:
t

['spam', 'spam', 'spam']

In [110]:
t = ['pining', 'for', 'the', 'fjords']

In [111]:
s = ' '.join(t)

In [112]:
s

'pining for the fjords'

In [113]:
a = 'banana'
b = 'banana'

In [114]:
a is b

True

In [115]:
a = [1,2,3]
b = [1,2,3]

In [116]:
a is b

False

In [117]:
b = a

In [118]:
b is a

True

In [119]:
def delete_head(t):
    del t[0]

In [120]:
delete_head(t)

In [121]:
t

['for', 'the', 'fjords']

In [122]:
letters = ['a', 'b', 'c']

In [123]:
delete_head(letters)

In [124]:
letters

['b', 'c']

In [126]:
def tail(t):
    return t[1:]

tail(letters)

['c']

In [127]:
t = t.sort()

In [128]:
t

In [129]:
eng2sp = dict()

In [130]:
eng2sp

{}

In [131]:
eng2sp['one'] = 'uno'

In [132]:
eng2sp

{'one': 'uno'}

In [133]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [134]:
eng2sp

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [136]:
eng2sp['three']

'tres'

In [137]:
eng2sp['four']

KeyError: 'four'

In [139]:
'one' in eng2sp

True

In [140]:
'uno' in eng2sp

False

In [141]:
vals = eng2sp.values()

In [142]:
'uno' in vals

True

In [143]:
vals

dict_values(['uno', 'dos', 'tres'])

In [144]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return d

In [145]:
h = histogram('nrontosaurus')

In [146]:
h

{'n': 2, 'r': 2, 'o': 2, 't': 1, 's': 2, 'a': 1, 'u': 2}

In [147]:
h = histogram('hello world')

In [148]:
h

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [149]:
h.get('a', 0)

0

In [150]:
def print_hist(h):
    for c in h:
        print(c, h[c])

In [151]:
h = histogram('parrot')

In [152]:
print_hist(h)

p 1
a 1
r 2
o 1
t 1

In [153]:
for key in sorted(h): 
    print(key, h[key])

a 1
o 1
p 1
r 2
t 1

In [155]:
def reverse_lookup(d, v):
    for k in d:
        if d[k] == v:
            return k
    raise LookupError()

In [156]:
key = reverse_lookup(h, 2)

In [157]:
key

'r'

In [158]:
key = reverse_lookup(h, 3)

LookupError:

In [159]:
def invert_dict(d):
    inverse = dict()
    for key in d:
        val = d[key]
        if val not in inverse:
            inverse[val] = [key]
        else:
            inverse[val].append(key)
    return inverse

In [160]:
hist = histogram('parrot')

In [161]:
hist

{'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1}

In [163]:
inverse = invert_dict(hist)

In [164]:
inverse

{1: ['p', 'a', 'o', 't'], 2: ['r']}

In [165]:
t = [1, 2, 3]

In [166]:
d = dict()

In [167]:
d[t] = 'oops'

TypeError: unhashable type: 'list'

In [168]:
known = {0:0, 1:1}

In [169]:
def fibonacci(n):
    if n in known:
        return known[n]
    res = fibonacci(n-1) + fibonacci(n-2)
    known[n] = res
    return res

In [170]:
fibonacci(10)

55

In [172]:
known

{0: 0, 1: 1, 2: 1, 3: 2, 4: 3, 5: 5, 6: 8, 7: 13, 8: 21, 9: 34, 10: 55}

In [173]:
verbose = True
def example1():
    if verbose:
        print('Running example1')

In [174]:
example1()

Running example1

In [175]:
been_called = False
def example2():
    been_called = True

In [176]:
example2()

In [177]:
been_called = False
def example2():
    global been_called
    been_called = True

In [178]:
example2()

In [179]:
been_called

True

In [180]:
count = 0
def example3():
    count = count + 1

In [181]:
example3()

UnboundLocalError: local variable 'count' referenced before assignment

In [186]:
value = 10
def print_it():
    print(value)

In [187]:
print_it()

10

In [188]:
value = 10
def print_it():
    value = value + 1
    print(value)

In [190]:
print_it()

UnboundLocalError: local variable 'value' referenced before assignment

In [191]:
def example3():
    global count
    count += 1

In [192]:
example3()

In [193]:
count

1

In [194]:
known = {0:0, 1:1}
def example4():
    known[2] = 1

In [195]:
example4()

In [196]:
known

{0: 0, 1: 1, 2: 1}

In [197]:
def example5():
    global known
    known = dict()

In [198]:
example5()

In [199]:
known

{}

In [200]:
t = 'a', 'b', 'c', 'd', 'e'

In [203]:
mytuple = 'a'

In [204]:
type(mytuple)

str

In [205]:
mytuple = 'a',

In [206]:
type(mytuple)

tuple

In [207]:
t = tuple()

In [208]:
t

()

In [210]:
t = tuple('lupins')

In [211]:
t

('l', 'u', 'p', 'i', 'n', 's')

In [215]:
list = tuple('hello world')

In [216]:
list

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [217]:
t[0]

'l'

In [218]:
list[0]

'h'

In [219]:
t[1:3]

('u', 'p')

In [220]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [221]:
t = ('A',) + t[1:]

In [222]:
t

('A', 'u', 'p', 'i', 'n', 's')

In [223]:
(0, 1, 2) < (0, 3, 4)

True

In [225]:
(100, 100, 100) < (1, 1, 1)

False

In [226]:
(0, 1, 2000000) < (0, 3, 4)

True

In [227]:
temp = a
a = b
b = temp

In [228]:
a, b = b, a

In [229]:
a

[1, 2, 3]

In [230]:
b

[1, 2, 3]

In [231]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [232]:
addr = 'monty@python.org'

In [234]:
uname, domain = addr.split('@')

In [235]:
uname

'monty'

In [236]:
domain

'python.org'

In [238]:
email = 'venaktrohanguptabompally@my.unt.edu'

In [239]:
uname, domain = email.split('@')

In [240]:
uname

'venaktrohanguptabompally'

In [241]:
def printall(*args):
    print(args)

In [242]:
printall('hello', 9, 15.3)

('hello', 9, 15.3)

In [243]:
printall(1, 2.0, '3')

(1, 2.0, '3')

In [244]:
t = (7, 3)

In [245]:
divmod(*t)

(2, 1)

In [246]:
max(1, 1, 1)

1

In [247]:
max(1, 2, 3)

3

In [248]:
sum(1, 2, 3)

TypeError: sum expected at most 2 arguments, got 3

In [249]:
s = 'abc'

In [250]:
t = [0, 1, 2]

In [251]:
zip(s, t)

In [252]:
for pair in zip(s, t):
    print(pair)

('a', 0)
('b', 1)
('c', 2)

In [253]:
string = 'rohan'

In [254]:
tuplee = [1,2,3,4,5]

In [256]:
for pair in zip(string, tuplee):
    print(pair)

('r', 1)
('o', 2)
('h', 3)
('a', 4)
('n', 5)

In [258]:
list(zip(string, tuplee))

TypeError: 'tuple' object is not callable

In [260]:
t = [('a', 0), ('b', 1), ('c', 2)]

In [261]:
for letter, number in t:
    print(number, letter)

0 a
1 b
2 c

In [262]:
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
    return False

In [263]:
has_match(t, mytuple)

False

In [264]:
for index, element in enumerate('abc'):
    print(index, element)

0 a
1 b
2 c

In [265]:
d = {'a':0, 'b':1, 'c':2}

In [266]:
t = d.items()

In [267]:
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

In [268]:
for key, value in d.items(): 
    print(key, value)

a 0
b 1
c 2

In [269]:
t = [('a', 0), ('c', 2), ('b', 1)]

In [270]:
d = dict(t)

In [271]:
d

{'a': 0, 'c': 2, 'b': 1}

In [272]:
d = dict(zip('abc', range(3)))

In [273]:
d

{'a': 0, 'b': 1, 'c': 2}

In [276]:
import structshape

ModuleNotFoundError: No module named 'structshape'

In [277]:
t = [1, 2, 3]

In [278]:
structshape(t)

NameError: name 'structshape' is not defined

In [281]:
for i in [1, 2, 3, 4, 5]:
    print(i)
    for j in [1, 2, 3, 4, 5]:
        print(j) 
        print(i + j) 
    print(i)
print("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

In [282]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
easier_to_read_list_of_lists = [ [1, 2, 3],
                                 [4, 5, 6],
                                 [7, 8, 9] ]

In [283]:
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [284]:
two_plus_three = 2 + \
                    3

In [285]:
two_plus_three

5

In [287]:
for i in [1, 2, 3, 4, 5]:
    
    print(i)

1
2
3
4
5

In [288]:
import re
my_regex = re.compile("[0-9]+", re.I)

In [289]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

In [290]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

In [292]:
single_quoted_string

'data science'

In [293]:
double_quoted_string

'data science'

In [294]:
tab_string = "\t"
len(tab_string)

1

In [295]:
not_tab_string = r"\t"
len(not_tab_string)

2

In [298]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

In [299]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]
list_length = len(integer_list)
list_sum = sum(integer_list)

In [300]:
list_of_lists

[[1, 2, 3], ['string', 0.1, True], []]

In [301]:
list_length

3

In [302]:
list_sum

6

In [304]:
first_three = x[:3] 
three_to_end = x[3:] 
one_to_four = x[1:5]
last_three = x[-3:] 
without_first_and_last = x[1:-1] 
copy_of_x = x[:]

In [305]:
first_three

range(0, 3)

In [307]:
1 in [1, 2, 3]

True

In [308]:
0 in [1, 2, 3]

False

In [309]:
x = [1, 2, 3]
x.extend([4, 5, 6])

In [310]:
x

[1, 2, 3, 4, 5, 6]

In [311]:
x = [1, 2, 3]
y = x + [4, 5, 6]

In [312]:
y

[1, 2, 3, 4, 5, 6]

In [313]:
x = [1, 2, 3]
x.append(0)
y = x[-1] 
z = len(x)

In [314]:
y

0

In [315]:
z

4

In [316]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [318]:
def sum_and_product(x, y):
    return (x + y),(x * y)
sp = sum_and_product(2, 3)
s, p = sum_and_product(5, 10)

In [319]:
s

15

In [320]:
sp

(5, 6)

In [321]:
x, y = 1, 2
x, y = y, x

In [322]:
x is y

False

In [323]:
y is x

False

In [324]:
empty_dict = {}
empty_dict2 = dict() 
grades = { "Joel" : 80, "Tim" : 95 }

In [325]:
type(empty_dict)

dict

In [326]:
type(empty_dict2)

dict

In [327]:
joels_grade = grades["Joel"]

In [328]:
joels_grade

80

In [330]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("no grade for Kate!")

no grade for Kate!

In [331]:
joel_has_grade = "Joel" in grades

In [332]:
kate_has_grade = "Kate" in grades

In [333]:
joel_has_grade

True

In [334]:
kate_has_grade

False

In [335]:
joels_grade = grades.get("Joel", 0)
kates_grade = grades.get("Kate", 0) 
no_ones_grade = grades.get("No One")

In [336]:
joels_grade

80

In [337]:
kates_grade

0

In [338]:
no_ones_grade

In [339]:
tweet = {
"user" : "joelgrus",
"text" : "Data Science is Awesome",
"retweet_count" : 100,
"hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [340]:
tweet_keys = tweet.keys() 
tweet_values = tweet.values()
tweet_items = tweet.items() 
"user" in tweet_keys 
"user" in tweet 
"joelgrus" in tweet_values

True

In [344]:
from collections import Counter
c = Counter([0, 1, 2, 0])

In [346]:
document = "hello world"
word_counts = Counter(document)

In [347]:
word_counts

Counter({'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [349]:
for word, count in word_counts.most_common(10):
    print(word, count)

l 3
o 2
h 1
e 1
  1
w 1
r 1
d 1

In [350]:
s = set()
s.add(1)
s.add(2) 
s.add(2) 
x = len(s)
y = 2 in s 
z = 3 in s

In [351]:
x

2

In [352]:
y

True

In [353]:
z

False

In [355]:
if 1 > 2:
    message = "if only 1 were greater than two"
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "when all else fails use else (if you want to)"

In [356]:
message

'when all else fails use else (if you want to)'

In [357]:
parity = "even" if x % 2 == 0 else "odd"

In [358]:
parity

'even'

In [360]:
x = 0
while x < 10:
    print(x, "is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [362]:
for x in range(10):
    print(x, "is less than 10")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [363]:
for x in range(10):
    if x == 3:
        continue 
    if x == 5:
        break 
    print(x)

0
1
2
4

In [364]:
one_is_less_than_two = 1 < 2

In [365]:
true_equals_false = True == False

In [366]:
one_is_less_than_two

True

In [367]:
true_equals_false

False

In [369]:
one_is_less_than_two

True

In [370]:
word_counts = {}
for word in document:
    previous_count = word_counts.get(word, 0)
    word_counts[word] = previous_count + 1

In [371]:
word_counts

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}