<a href="https://colab.research.google.com/github/rohanguptha/INFO5731/blob/master/bompally_selftstudy12_fastai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from fastai.tabular import *

In [28]:
path = untar_data(URLs.ADULT_SAMPLE)
path

PosixPath('/root/.fastai/data/adult_sample')

In [29]:
!wget https://raw.githubusercontent.com/wshuyi/demo-customer-churn-ann/master/customer_churn.csv

--2019-04-23 09:07:03--  https://raw.githubusercontent.com/wshuyi/demo-customer-churn-ann/master/customer_churn.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 684858 (669K) [text/plain]
Saving to: ‘customer_churn.csv.1’

customer_churn.csv. 100%[===================>] 668.81K  --.-KB/s    in 0.06s

2019-04-23 09:07:04 (10.5 MB/s) - ‘customer_churn.csv.1’ saved [684858/684858]

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('customer_churn.csv')

In [50]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [51]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
train, test = train_test_split(df, test_size=0.2, random_state=1)

In [54]:
test.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9953,9954,15655952,Burke,550,France,Male,47,2,0.00,2,1,1,97057.28,0
3850,3851,15775293,Stephenson,680,France,Male,34,3,143292.95,1,1,0,66526.01,0
4962,4963,15665088,Gordon,531,France,Female,42,2,0.00,2,0,1,90537.47,0
3886,3887,15720941,Tien,710,Germany,Male,34,8,147833.30,2,0,1,1561.58,0
5437,5438,15733476,Gonzalez,543,Germany,Male,30,6,73481.05,1,1,1,176692.65,0

In [55]:
train.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2694,2695,15721585,Blacklock,628,Germany,Male,29,3,113146.98,2,0,1,124749.08,0
5140,5141,15617790,Hanson,626,France,Female,29,4,105767.28,2,0,0,41104.82,0
2568,2569,15775905,Moore,612,Germany,Female,47,6,130024.87,1,1,1,45750.21,1
3671,3672,15616666,Artemova,646,Germany,Female,52,6,111739.40,2,0,1,68367.18,0
7427,7428,15664720,Kovalyova,714,Spain,Male,33,8,122017.19,1,0,0,162515.17,0

In [56]:
len(train)

8000

In [57]:
len(test)

2000

In [0]:
procs = [FillMissing, Categorify, Normalize]

In [0]:
valid_idx = range(len(df)-2000, len(df))

In [60]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [0]:
dep_var = 'Exited'
cat_names=['Geography',
       'Gender', 'HasCrCard',
       'IsActiveMember']
cont_names = ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']

In [62]:
data = TabularDataBunch.from_df(path, df, dep_var, valid_idx=valid_idx, procs=procs, cat_names=cat_names, cont_names=cont_names)
print(data.train_ds.cont_names)

['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']

In [63]:
(cat_x,cont_x),y = next(iter(data.train_dl))
for o in (cat_x, cont_x, y): print(to_np(o[:5]))

[[2 2 1 2]
 [2 2 2 1]
 [3 2 1 1]
 [2 1 1 1]
 [1 1 2 1]]
[[ 1.20627  -1.516272 -1.044506  1.005635 -0.905501 -1.254438]
 [ 1.175292 -1.04059   1.729056  0.756888 -0.905501  1.147168]
 [-0.900204 -1.421136  0.68897  -1.230944  0.809463 -1.458157]
 [ 0.617696 -1.421136 -1.044506  0.538656  0.809463 -1.466625]
 [-0.693687 -1.135726 -0.351116 -1.230944  2.524427  1.093714]]
[0 0 0 1 0]

In [64]:
learn = tabular_learner(data, layers=[200,100], emb_szs={'native-country': 10}, metrics=accuracy)
learn.fit_one_cycle(5, 1e-2)

In [65]:
learn.get_preds()[1]

tensor([0, 0, 0,  ..., 1, 1, 0])

In [66]:
learn.predict(df.iloc[0])

(Category 0, tensor(0), tensor([0.6264, 0.3736]))