In [1]:
import string

In [2]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [4]:
import random
for i in range(10):
    x = random.random()
    print(x)

0.8413869799424192
0.7641183146780027
0.5754584813760873
0.7760041916465917
0.3067016796891512
0.9798207589027962
0.6202327436112052
0.6015246111172807
0.5857714144755575
0.4272358712932658

In [5]:
random.randint(5, 10)

10

In [6]:
random.randint(5, 10)

8

In [10]:
for i in range(5):
    x = random.randint(3, 6)
    print(x)

4
6
3
4
5

In [11]:
t = [1, 2, 3]

In [12]:
random.choice(t)

3

In [14]:
random.choice(t)

2

In [31]:
temp = ['a', 'a', 'b', 'c', 'd']

In [32]:
random.choice(t)

(4, 'to')

In [18]:
def process_file(filename):
    hist = dict()
    fp = open(filename)
    for line in fp:
        process_line(line, hist)
    return hist
def process_line(line, hist):
    line = line.replace('-', ' ')
    for word in line.split():
        word = word.strip(string.punctuation + string.whitespace)
        word = word.lower()
        hist[word] = hist.get(word, 0) + 1

In [19]:
hist = process_file('myfile.txt')

In [20]:
hist

{'big': 1,
 'data': 5,
 'is': 1,
 'a': 2,
 'term': 1,
 'used': 1,
 'to': 4,
 'refer': 1,
 'sets': 1,
 'that': 1,
 'are': 1,
 'too': 1,
 'large': 1,
 'or': 2,
 'complex': 1,
 'for': 1,
 'traditional': 1,
 'processing': 1,
 'application': 1,
 'software': 1,
 'adequately': 1,
 'deal': 1,
 'with': 3,
 'many': 1,
 'cases': 1,
 'rows': 1,
 'offer': 1,
 'greater': 1,
 'statistical': 1,
 'power': 1,
 'while': 1,
 'higher': 2,
 'complexity': 1,
 'more': 1,
 'attributes': 1,
 'columns': 1,
 'may': 1,
 'lead': 1,
 'false': 1,
 'discovery': 1,
 'rate': 1}

In [21]:
def total_words(hist):
    return sum(hist.values())

In [22]:
total_words(hist)

53

In [23]:
def different_words(hist):
    return len(hist)

In [24]:
different_words(hist)

41

In [25]:
def most_common(hist):
    t = []
    for key, value in hist.items():
            t.append((value, key))
    t.sort(reverse=True)
    return t

In [26]:
most_common(hist)

[(5, 'data'),
 (4, 'to'),
 (3, 'with'),
 (2, 'or'),
 (2, 'higher'),
 (2, 'a'),
 (1, 'while'),
 (1, 'used'),
 (1, 'traditional'),
 (1, 'too'),
 (1, 'that'),
 (1, 'term'),
 (1, 'statistical'),
 (1, 'software'),
 (1, 'sets'),
 (1, 'rows'),
 (1, 'refer'),
 (1, 'rate'),
 (1, 'processing'),
 (1, 'power'),
 (1, 'offer'),
 (1, 'more'),
 (1, 'may'),
 (1, 'many'),
 (1, 'lead'),
 (1, 'large'),
 (1, 'is'),
 (1, 'greater'),
 (1, 'for'),
 (1, 'false'),
 (1, 'discovery'),
 (1, 'deal'),
 (1, 'complexity'),
 (1, 'complex'),
 (1, 'columns'),
 (1, 'cases'),
 (1, 'big'),
 (1, 'attributes'),
 (1, 'are'),
 (1, 'application'),
 (1, 'adequately')]

In [29]:
t = most_common(hist)
print('The most common words are:')
for freq, word in t[:10]:
    print(word, freq, sep='\t')

The most common words are:
data	5
to	4
with	3
or	2
higher	2
a	2
while	1
used	1
traditional	1
too	1

In [33]:
def print_most_common(hist, num=10):
    t = most_common(hist)
    print('The most common words are:')
    for freq, word in t[:num]:
        print(word, freq, sep='\t')

In [34]:
print_most_common(hist)

The most common words are:
data	5
to	4
with	3
or	2
higher	2
a	2
while	1
used	1
traditional	1
too	1

In [35]:
print_most_common(hist, 5)

The most common words are:
data	5
to	4
with	3
or	2
higher	2

In [36]:
def subtract(d1, d2):
    res = dict()
    for key in d1:
        if key not in d2:
            res[key] = None
    return res

In [37]:
words = process_file('words.txt')
diff = subtract(hist, words)

In [38]:
diff

{'big': None,
 'data': None,
 'refer': None,
 'sets': None,
 'too': None,
 'large': None,
 'complex': None,
 'traditional': None,
 'processing': None,
 'application': None,
 'software': None,
 'adequately': None,
 'deal': None,
 'with': None,
 'many': None,
 'cases': None,
 'rows': None,
 'offer': None,
 'greater': None,
 'statistical': None,
 'power': None,
 'while': None,
 'higher': None,
 'complexity': None,
 'more': None,
 'attributes': None,
 'columns': None,
 'may': None,
 'lead': None,
 'false': None,
 'discovery': None,
 'rate': None}

In [39]:
print("Words in the book that aren't in the word list:")
for word in diff:
    print(word, end=' ')

Words in the book that aren't in the word list:
big data refer sets too large complex traditional processing application software adequately deal with many cases rows offer greater statistical power while higher complexity more attributes columns may lead false discovery rate

In [42]:
def random_word(h):
    t = []
    for word, freq in h.items():
        t.extend([word] * freq)
    
    return random.choice(t)

In [45]:
random_word(hist)

'cases'

In [46]:
fout = open('words.txt', 'w')

In [47]:
line = 'reading and writing a file'

In [48]:
fout.write(line)

26

In [49]:
line2 = "the emblem of our land.\n"

In [50]:
fout.write(line2)

24

In [51]:
fout.close()

In [52]:
x = 52

In [54]:
fout = open('words.txt', 'w')
fout.write(str(x))

2

In [56]:
camels = 42
'%d' % camels

'42'

In [58]:
'I have spotted %d camels.' % camels

'I have spotted 42 camels.'

In [59]:
'In %d years I have spotted %g %s.' % (3, 0.1, 'camels')

'In 3 years I have spotted 0.1 camels.'

In [60]:
import os

In [61]:
cwd = os.getcwd()

In [62]:
cwd

'C:\\Users\\Roshini\\Desktop\\info5731'

In [63]:
os.path.abspath('words.txt')

'C:\\Users\\Roshini\\Desktop\\info5731\\words.txt'

In [65]:
os.path.exists('words.txt')

True

In [66]:
os.path.isdir('/home/dinsdale')

False

In [67]:
os.listdir(cwd)

['.ipynb_checkpoints',
 '.~turtle.ipynb',
 'bompally_Assign2.ipynb',
 'bompally_selfstudy1.ipynb',
 'bompally_selfstudy2.ipynb',
 'imagename.jpg',
 'lesson-2-code.ipynb',
 'myfile.txt',
 'turtle.ipynb',
 'words.txt']

In [69]:
def walk(dirname):
    for name in os.listdir(dirname):
        path = os.path.join(dirname, name)
        if os.path.isfile(path):
            print(path)
        else:
            walk(path)

In [72]:
fin = open('words')

FileNotFoundError: [Errno 2] No such file or directory: 'words'

In [73]:
import dbm
db = dbm.open('captions', 'c')

In [76]:
db

In [78]:
db['cleese.png'] = 'Photo of John Cleese.'

In [79]:
db['cleese.png']

b'Photo of John Cleese.'

In [80]:
for key in db:
    print(key, db[key])

b'cleese.png' b'Photo of John Cleese.'

In [81]:
db.close()

In [83]:
import pickle
t = [1, 2, 3]
s = pickle.dumps(t)

In [84]:
s

b'\x80\x03]q\x00(K\x01K\x02K\x03e.'

In [86]:
pickle.loads(s)

[1, 2, 3]

In [88]:
t == s

False

In [89]:
t == pickle.loads(s)

True

In [92]:
t is pickle.loads(s)

False

In [93]:
cmd = 'ls -l'

In [134]:
fp = os.popen(cmd)

In [135]:
res = fp.read()

In [138]:
res

''

In [133]:
stat = fp.close()

In [97]:
print(stat)

1

In [98]:
def linecount(filename):
    count = 0
    for line in open(filename):
        count += 1
    return count

In [100]:
linecount('lesson-2-code.ipynb')

4705

In [105]:
s = '1 2\t 3\n 4'
print(s)

1 2	 3
 4

In [107]:
class Point:
    """Represents a point in 2-D space."""

In [108]:
Point

__main__.Point

In [109]:
obj = Point()

In [110]:
obj

In [111]:
obj.x = 10
obj.y = 20

In [114]:
'(%d, %d)' % (obj.x, obj.y)

'(10, 20)'

In [116]:
import math
distance = math.sqrt(obj.x**2 + obj.y**2)

In [117]:
distance

22.360679774997898

In [118]:
def print_point(p):
    print('(%g, %g)' % (p.x, p.y))

In [119]:
print_point(obj)

(10, 20)

In [120]:
class Rectangle:
    """Represents a rectangle.
    
    attributes: width, height, corner.
    """

In [121]:
box = Rectangle()

In [122]:
box.width = 100

In [123]:
box.height = 200

In [124]:
box.corner = Point()
box.corner.x = 0.0
box.corner.y = 0.0

In [126]:
def find_center(rect):
    p = Point()
    p.x = rect.corner.x + rect.width/2
    p.y = rect
    return p

In [128]:
center = find_center(box)

In [130]:
print_point(center)

TypeError: must be real number, not Rectangle

In [139]:
p1 = Point()
p1.x = 3.0
p1.y = 4.0

In [140]:
import copy
p2 = copy.copy(p1)

In [141]:
print_point(p1)

(3, 4)

In [142]:
box2 = copy.copy(box)

In [143]:
box2 is box

False

In [144]:
box2.corner is box.corner

True

In [145]:
box3 = copy.deepcopy(box)

In [146]:
box3 is box

False

In [148]:
p = Point()
p.x = 3
p.y = 4

In [149]:
p.z

AttributeError: 'Point' object has no attribute 'z'

In [150]:
type(p)

__main__.Point

In [151]:
isinstance(p, Point)

True

In [152]:
hasattr(p, 'x')

True

In [153]:
hasattr(p, 'z')

False

In [154]:
try:
    x = p.x
except AttributeError:
    x = 0

In [155]:
class Time:
    """Represents the time of day.
    attributes: hour, minute, second
    """

In [156]:
time = Time()

In [157]:
time.hour = 11
time.minute = 59
time.second = 30

In [158]:
def add_time(t1, t2):
    sum = Time()
    sum.hour = t1.hour + t2.hour
    sum.minute = t1.minute + t2.minute
    sum.second = t1.second + t2.second
    return sum

In [159]:
start = Time()
start.hour = 9
start.minute = 45
start.second = 0

In [160]:
duration = Time()
duration.hour = 1
duration.minute = 35
duration.second = 0

In [164]:
done = add_time(start, duration)

In [168]:
def print_time(time):
    print(time.hour, ':', time.minute, ':', time.second)

In [171]:
print_time(done)

10 : 80 : 0

In [172]:
def add_time(t1, t2):
    sum = Time()
    sum.hour = t1.hour + t2.hour
    sum.minute = t1.minute + t2.minute
    sum.second = t1.second + t2.second
    
    if sum.second >= 60:
        sum.second -= 60
        sum.minute += 1

    if sum.minute >= 60:
        sum.minute -= 60
        sum.hour += 1
        
    return sum

In [173]:
tim = add_time(start, duration)
print_time(tim)

11 : 20 : 0

In [236]:
def time_to_int(time):
    minutes = time.hour * 60 + time.minute
    seconds = minutes * 60 + time.second
    return seconds

In [177]:
t = time_to_int(done)

In [178]:
t

40800

In [179]:
def int_to_time(seconds):
    time = Time()
    minutes, time.second = divmod(seconds, 60)
    time.hour, time.minute = divmod(minutes, 60)
    return time

In [181]:
res = int_to_time(t)

In [183]:
print_time(res)

11 : 20 : 0

In [184]:
def add_time(t1, t2):
    seconds = time_to_int(t1) + time_to_int(t2)
    return int_to_time(seconds)

In [188]:
newres = add_time(res, res)

In [189]:
print_time(newres)

22 : 40 : 0

In [204]:
class Time:
    """Represents the time of day."""
    
def print_time(time):
    print('%.2d:%.2d:%.2d' % (time.hour, time.minute, time.second))

In [237]:
start = Time()
start.hour = 9
start.minute = 45
start.second = 0
print_time(start)

09:45:00

In [257]:
class Time:
    def print_time(time):
        print('%.2d:%.2d:%.2d' % (time.hour, time.minute, time.second))
    def increment(self, seconds):
        seconds += self.time_to_int()
        return int_to_time(seconds)
    def is_after(self, other):
        return self.time_to_int() > other.time_to_int()
    def __init__(self, hour=0, minute=0, second=0):
        self.hour = hour
        self.minute = minute
        self.second = second
    def __str__(self):
        return '%.2d:%.2d:%.2d' % (self.hour, self.minute, self.second)
    def __add__(self, other):
        seconds = self.time_to_int() + other.time_to_int()
        return int_to_time(seconds)
    def __radd__(self, other):
        return self.__add__(other)
    def time_to_int(time):
        minutes = time.hour * 60 + time.minute
        seconds = minutes * 60 + time.second
        return seconds

In [198]:
Time.print_time(start)

09:45:00

In [201]:
start.print_time()

09:45:00

In [202]:
# inside class Time:
def increment(self, seconds):
    seconds += self.time_to_int()
    return int_to_time(seconds)

In [244]:
start = Time()
start.hour = 9
start.minute = 45
start.second = 0
end = start.increment(1337)
end.print_time()

10:07:17

In [217]:
end.is_after(start)

True

In [221]:
end.__init__(10)

In [222]:
time = Time()
time.print_time()

00:00:00

In [223]:
time = Time(9, 5)
time.print_time()

09:05:00

In [251]:
start = Time(9, 45)
duration = Time(1, 35)
print(start + duration)

11:20:00

In [232]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] = d[c]+1
    return d

In [233]:
t = ['spam', 'egg', 'spam', 'spam', 'bacon', 'spam']

In [234]:
histogram(t)

{'spam': 4, 'egg': 1, 'bacon': 1}

In [246]:
print(end)

10:07:17

In [258]:
t1 = Time(7, 43)
t2 = Time(7, 41)
t3 = Time(7, 37)
total = sum([t1, t2, t3])
print(total)

AttributeError: 'int' object has no attribute 'time_to_int'

In [283]:
class Card:
    """Represents a standard playing card."""
    suit_names = ['Clubs', 'Diamonds', 'Hearts', 'Spades']
    rank_names = [None, 'Ace', '2', '3', '4', '5', '6', '7','8', '9', '10', 'Jack', 'Queen', 'King']
    def __init__(self, suit=0, rank=2):
        self.suit = suit
        self.rank = rank
    def __str__(self):
        return '%s of %s' % (Card.rank_names[self.rank],
        Card.suit_names[self.suit])
    def __lt__(self, other):
        # check the suits
        if self.suit < other.suit: return True
        if self.suit > other.suit: return False
        # suits are the same... check ranks
        return self.rank < other.rank
    def __lt__(self, other):
        t1 = self.suit, self.rank
        t2 = other.suit, other.rank
        return t1 < t2

In [250]:
queen_of_diamonds = Card(1, 12)

In [261]:
def __str__(self):
    return '%s of %s' % (Card.rank_names[self.rank],Card.suit_names[self.suit])

In [262]:
card1 = Card(2, 11)

In [263]:
print(card1)

<__main__.Card object at 0x000002BA18509A58>

In [264]:
__str__(card1)

'Jack of Hearts'

In [315]:
class Deck:
    def __init__(self):
        self.cards = []
        for suit in range(4):
            for rank in range(1, 14):
                card = Card(suit, rank)
                self.cards.append(card)
    def __str__(self):
        res = []
        for card in self.cards:
            res.append(str(card))
        return '\n'.join(res)
    def pop_card(self):
        return self.cards.pop()
    def add_card(self, card):
        self.cards.append(card)
    def shuffle(self):
        random.shuffle(self.cards)
    def move_cards(self, hand, num):
        for i in range(num):
            hand.add_card(self.pop_card())

In [292]:
deck = Deck()
print(deck)

Ace of Clubs
2 of Clubs
3 of Clubs
4 of Clubs
5 of Clubs
6 of Clubs
7 of Clubs
8 of Clubs
9 of Clubs
10 of Clubs
Jack of Clubs
Queen of Clubs
King of Clubs
Ace of Diamonds
2 of Diamonds
3 of Diamonds
4 of Diamonds
5 of Diamonds
6 of Diamonds
7 of Diamonds
8 of Diamonds
9 of Diamonds
10 of Diamonds
Jack of Diamonds
Queen of Diamonds
King of Diamonds
Ace of Hearts
2 of Hearts
3 of Hearts
4 of Hearts
5 of Hearts
6 of Hearts
7 of Hearts
8 of Hearts
9 of Hearts
10 of Hearts
Jack of Hearts
Queen of Hearts
King of Hearts
Ace of Spades
2 of Spades
3 of Spades
4 of Spades
5 of Spades
6 of Spades
7 of Spades
8 of Spades
9 of Spades
10 of Spades
Jack of Spades
Queen of Spades
King of Spades

In [303]:
print(deck.pop_card())

9 of Spades

In [314]:
class Hand(Deck):
    """Represents a hand of playing cards."""
    def __init__(self, label=''):
        self.cards = []
        self.label = label

In [296]:
hand = Hand('new hand')

In [297]:
hand.cards

[]

In [298]:
hand.label

'new hand'

In [305]:
deck = Deck()
card = deck.pop_card()
hand.add_card(card)
print(hand)

King of Spades
King of Spades

In [310]:
deck.move_cards(hand, 1)

In [312]:
print(hand)

King of Spades
King of Spades
Queen of Spades
Jack of Spades
10 of Spades
9 of Spades
8 of Spades
7 of Spades
6 of Spades
5 of Spades
4 of Spades
3 of Spades
2 of Spades

In [316]:
hand.move_cards(deck, 2)

AttributeError: 'Hand' object has no attribute 'move_cards'

In [317]:
deck2 = Deck()

In [318]:
print(deck2)

Ace of Clubs
2 of Clubs
3 of Clubs
4 of Clubs
5 of Clubs
6 of Clubs
7 of Clubs
8 of Clubs
9 of Clubs
10 of Clubs
Jack of Clubs
Queen of Clubs
King of Clubs
Ace of Diamonds
2 of Diamonds
3 of Diamonds
4 of Diamonds
5 of Diamonds
6 of Diamonds
7 of Diamonds
8 of Diamonds
9 of Diamonds
10 of Diamonds
Jack of Diamonds
Queen of Diamonds
King of Diamonds
Ace of Hearts
2 of Hearts
3 of Hearts
4 of Hearts
5 of Hearts
6 of Hearts
7 of Hearts
8 of Hearts
9 of Hearts
10 of Hearts
Jack of Hearts
Queen of Hearts
King of Hearts
Ace of Spades
2 of Spades
3 of Spades
4 of Spades
5 of Spades
6 of Spades
7 of Spades
8 of Spades
9 of Spades
10 of Spades
Jack of Spades
Queen of Spades
King of Spades

In [319]:
hand2 = Hand()

In [320]:
print(hand2)

In [321]:
deck2.move_cards(hand2, 4)

In [322]:
print(deck2)

Ace of Clubs
2 of Clubs
3 of Clubs
4 of Clubs
5 of Clubs
6 of Clubs
7 of Clubs
8 of Clubs
9 of Clubs
10 of Clubs
Jack of Clubs
Queen of Clubs
King of Clubs
Ace of Diamonds
2 of Diamonds
3 of Diamonds
4 of Diamonds
5 of Diamonds
6 of Diamonds
7 of Diamonds
8 of Diamonds
9 of Diamonds
10 of Diamonds
Jack of Diamonds
Queen of Diamonds
King of Diamonds
Ace of Hearts
2 of Hearts
3 of Hearts
4 of Hearts
5 of Hearts
6 of Hearts
7 of Hearts
8 of Hearts
9 of Hearts
10 of Hearts
Jack of Hearts
Queen of Hearts
King of Hearts
Ace of Spades
2 of Spades
3 of Spades
4 of Spades
5 of Spades
6 of Spades
7 of Spades
8 of Spades
9 of Spades

In [323]:
print(hand2)

King of Spades
Queen of Spades
Jack of Spades
10 of Spades

In [324]:
deck2.move_cards(hand2, 4)

In [325]:
print(deck2)

Ace of Clubs
2 of Clubs
3 of Clubs
4 of Clubs
5 of Clubs
6 of Clubs
7 of Clubs
8 of Clubs
9 of Clubs
10 of Clubs
Jack of Clubs
Queen of Clubs
King of Clubs
Ace of Diamonds
2 of Diamonds
3 of Diamonds
4 of Diamonds
5 of Diamonds
6 of Diamonds
7 of Diamonds
8 of Diamonds
9 of Diamonds
10 of Diamonds
Jack of Diamonds
Queen of Diamonds
King of Diamonds
Ace of Hearts
2 of Hearts
3 of Hearts
4 of Hearts
5 of Hearts
6 of Hearts
7 of Hearts
8 of Hearts
9 of Hearts
10 of Hearts
Jack of Hearts
Queen of Hearts
King of Hearts
Ace of Spades
2 of Spades
3 of Spades
4 of Spades
5 of Spades

In [326]:
print(hand2)

King of Spades
Queen of Spades
Jack of Spades
10 of Spades
9 of Spades
8 of Spades
7 of Spades
6 of Spades

In [327]:
hand2.move_cards(deck2, 8)

In [328]:
print(hand2)

In [329]:
print(deck2)

Ace of Clubs
2 of Clubs
3 of Clubs
4 of Clubs
5 of Clubs
6 of Clubs
7 of Clubs
8 of Clubs
9 of Clubs
10 of Clubs
Jack of Clubs
Queen of Clubs
King of Clubs
Ace of Diamonds
2 of Diamonds
3 of Diamonds
4 of Diamonds
5 of Diamonds
6 of Diamonds
7 of Diamonds
8 of Diamonds
9 of Diamonds
10 of Diamonds
Jack of Diamonds
Queen of Diamonds
King of Diamonds
Ace of Hearts
2 of Hearts
3 of Hearts
4 of Hearts
5 of Hearts
6 of Hearts
7 of Hearts
8 of Hearts
9 of Hearts
10 of Hearts
Jack of Hearts
Queen of Hearts
King of Hearts
Ace of Spades
2 of Spades
3 of Spades
4 of Spades
5 of Spades
6 of Spades
7 of Spades
8 of Spades
9 of Spades
10 of Spades
Jack of Spades
Queen of Spades
King of Spades

In [330]:
def double(x):
    """this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2"""
    return x * 2

In [331]:
double(10)

20

In [332]:
def apply_to_one(f):
    """calls the function f with 1 as its argument"""
    return f(1)
my_double = double
x = apply_to_one(my_double)

In [333]:
x

2

In [334]:
y = apply_to_one(lambda x: x + 4)

In [335]:
y

5

In [336]:
another_double = lambda x: 2 * x
def another_double(x): return 2 * x

In [340]:
def my_print(message="my default message"):
    print(message)

In [341]:
my_print("hello") # prints 'hello'
my_print()

hello
my default message

In [342]:
def subtract(a=0, b=0):
    return a - b
subtract(b=5)

-5

In [343]:
subtract(10, 5)

5

In [344]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

In [345]:
tab_string = "\t"
len(tab_string)

1

In [346]:
not_tab_string = r"\t" 
len(not_tab_string)

2

In [348]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

In [349]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]
list_length = len(integer_list)
list_sum = sum(integer_list)

In [350]:
list_length

3

In [351]:
list_sum

6

In [362]:
x in range(10) # is the list [0, 1, ..., 9]
zero = x[0] # equals 0, lists are 0-indexed
one = x[1] # equals 1
nine = x[-1] # equals 9, 'Pythonic' for last element
eight = x[-2] # equals 8, 'Pythonic' for next-to-last element

In [363]:
type(x)

range

In [353]:
first_three = x[:3] # [-1, 1, 2]
three_to_end = x[3:] # [3, 4, ..., 9]
one_to_four = x[1:5] # [1, 2, 3, 4]
last_three = x[-3:] # [7, 8, 9]
without_first_and_last = x[1:-1] # [1, 2, ..., 8]
copy_of_x = x[:]

In [355]:
print(first_three)

range(0, 3)

In [364]:
1 in [1, 2, 3] # True
0 in [1, 2, 3]

False

In [365]:
x = [1, 2, 3]
x.extend([4, 5, 6])

In [366]:
x = [1, 2, 3]
x.append(0) # x is now [1, 2, 3, 0]
y = x[-1] # equals 0
z = len(x)

In [367]:
x

[1, 2, 3, 0]

In [369]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3 # my_list is now [1, 3]
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [370]:
def sum_and_product(x, y):
    return (x + y),(x * y)
sp = sum_and_product(2, 3) # equals (5, 6)
s, p = sum_and_product(5, 10) # s is 15, p is 50

In [371]:
sp

(5, 6)

In [372]:
s

15

In [373]:
p

50

In [374]:
x, y = 1, 2 # now x is 1, y is 2
x, y = y, x

In [375]:
x

2

In [376]:
y

1

In [377]:
empty_dict = {} # Pythonic
empty_dict2 = dict() # less Pythonic
grades = { "Joel" : 80, "Tim" : 95 }

In [378]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [380]:
tweet_keys = tweet.keys()
tweet_keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [381]:
tweet_values = tweet.values() # list of values
tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [383]:
tweet_items = tweet.items()
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [384]:
"joelgrus" in tweet_values

True

In [389]:
x = sorted([-4,1,-2,3], key=abs, reverse=True)

In [387]:
x = [4,1,2,3]
y = sorted(x) 
x.sort()

In [388]:
x

[1, 2, 3, 4]

In [392]:
wc = sorted(word_counts.items(),
key = lambda(word, count): count,reverse=True)

SyntaxError: invalid syntax (<ipython-input-392-f8ac9b51d035>, line 2)

In [393]:
even_numbers = [x for x in range(5) if x % 2 == 0] # [0, 2, 4]
squares = [x * x for x in range(5)] # [0, 1, 4, 9, 16]
even_squares = [x * x for x in even_numbers]

In [394]:
even_numbers

[0, 2, 4]

In [395]:
squares

[0, 1, 4, 9, 16]

In [396]:
even_squares

[0, 4, 16]

In [397]:
square_dict = { x : x * x for x in range(5) } 
square_set = { x * x for x in [1, -1] }

In [398]:
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [399]:
square_set

{1}

In [400]:
zeroes = [0 for _ in even_numbers]

In [401]:
zeroes

[0, 0, 0]

In [402]:
pairs = [(x, y)
    for x in range(10)
        for y in range(10)]

In [403]:
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [404]:
increasing_pairs = [(x, y) # only pairs with x < y,
    for x in range(10) # range(lo, hi) equals
        for y in range(x + 1, 10)]

In [405]:
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

In [407]:
def lazy_range(n):
    i = 0
    while i < n:
        yield i
        i += 1

In [408]:
lazy_range(4)

In [413]:
import random
four_uniform_randoms = [random.random() for _ in range(4)]
random.seed(10) 
print(random.random()) # 0.57140259469
random.seed(10)
print(random.random())

0.5714025946899135
0.5714025946899135

In [412]:
random.randrange(10) 
random.randrange(3, 6)

4

In [420]:
class Set:
    def __init__(self, values=None):
        """This is the constructor.
        It gets called when you create a new Set.
        You would use it like
        s1 = Set() # empty set
        s2 = Set([1,2,2,3]) # initialize with values"""   
        self.dict = {} 
        if values is not None:
            for value in values:
                self.add(value)
                
    def __repr__(self):
        """this is the string representation of a Set object
        if you type it at the Python prompt or pass it to str()"""
        return "Set: " + str(self.dict.keys())

    def add(self, value):
        self.dict[value] = True

    def contains(self, value):
        return value in self.dict
    def remove(self, value):
        del self.dict[value]

In [421]:
s = Set([1,2,3])

In [422]:
s.add(4)

In [424]:
print(s.contains(4))

True

In [425]:
def exp(base, power):
    return base ** power

In [426]:
from functools import partial
two_to_the = partial(exp, 2) # is now a function of one variable
print(two_to_the(3))

8

In [427]:
square_of = partial(exp, power=2)
print(square_of(3))

9

In [429]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
zip(list1, list2)

In [430]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
letters, numbers = zip(*pairs)

In [432]:
zip(('a', 1), ('b', 2), ('c', 3))

<zip object at 0x000002BA18F8C288>

In [433]:
def doubler(f):
    def g(x):
        return 2 * f(x)
    return g

In [435]:
def f1(x):
    return x + 1
g = doubler(f1)
print(g(3))
print(g(-1))

8
0

In [437]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)

magic(1, 2, key="word", key2="word2")

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}

In [439]:
def other_way_magic(x, y, z):
    return x + y + z

x_y_list = [1, 2]
z_dict = { "z" : 3 }
print other_way_magic(*x_y_list, **z_dict)

SyntaxError: invalid syntax (<ipython-input-439-96cae9b1258f>, line 6)